body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #030303;
    display: flex;
    justify-content: center;
    
}

h1{
    margin-bottom: 10px;
    text-align: left;
    padding-left: 105px;
    color: gold;
    
}

.tablero{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    gap: 10px;
}

.numero{
    background-color: white;
    border: 2px solid gold;
    padding: 15px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 6px;
    transition: 0.2s;
}

.numero:hover{
    background-color: #e6ffe8;
}

.numero.marcado{
    background-color: #4caf50;
    color: white;
    border-color: #4caf50;
    cursor: not-allowed;
}

.contenedor{
    max-width: 420px;
    width: 100%;
    text-align: center;
    padding: 10px;
}

@media ( max-width: 600px){
    .tablero{
        grid-template-columns: repeat(4,1fr);
        gap: 8px;

    }
}

.numero{
    padding: 10px 0;
    font-size: 13px;
}

h1{
    font-size: 22px;
    margin-bottom: 10px;
    text-align: left;
    padding-left: 76px;
}

.contador{
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
}

.contador p{
    margin-top: 25px;
}